@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #9b59b6;
  --font-sans: "poppins", sans-serif;
  --font-mono: "poppins Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

/* Ensure monospace font is applied when needed */
.mono {
  font-family: var(--font-mono);
}

@layer utilities {
  .shadow-glow {
    box-shadow: 0px 0px 10px rgba(0, 153, 255, 0.6);
  }
}